<h1>Services</h1>
<p>With more than 25 years experience in the IT industry, there is much I can offer.</p>
<p>If you have availed yourself of the opportunity to familiarise yourself with my <a href="/about">my professional background</a>, you will have noticed that I have worked in a variety of capacities with many different technologies. I have represented and provided services to organisations ranging from small businesses to multinational corporations.</p>
<p>In late 2007 I founded <a href="http://www.cockatoosoftware.com.au">Cockatoo Software</a> and am currently exclusively available via my company.</p> 
<p>For more details, please explore <a href="http://www.cockatoosoftware.com.au/services">the services offered by Cockatoo Software</a>.</p>