<h1>Services</h1>
<p>With more than 30 years experience in the IT industry, there is much I can offer.</p>
<p>If you have availed yourself of the opportunity to familiarise yourself with my <a href="/about">my professional background</a>, you will have noticed that I have worked in a variety of capacities with many different technologies. I have represented and provided services to organisations ranging from small businesses to multinational corporations.</p>
<p>In late 2007 I founded <a href="http://www.cockatoosoftware.com.au">Cockatoo Software</a>. Whilst I currently work four days a week to work for <a href="https://theconversation.com">The Conversation</a>, I will be available from February 2018 onwards and welcome <a href="/contact">enquiries</a>.</p>
<p>If you would like to know more, please explore <a href="http://www.cockatoosoftware.com.au/services">the services I offer</a> via my company, <a href="http://www.cockatoosoftrware.com.au">Cockatoo Software</a>.</p>
