/******************************/
/* Palette                    */
/*                            */
/* Base colour:       #000066 */
/* Base shade 1:      #333366 */
/* Base shade 2:      #6666FF */
/* Base shade 3:      #E6E6FF */
/* Triade contrast 1: #CC3300 */
/* Triade contrast 2: #99CC00 */
/* Grey for text:     #333333 */
/******************************/

html, body {
	height: 100%;
}

body { 
	background: #fff url(/images/gradient.gif) repeat-x; 
	color: #444;
	line-height: 1.5em;
}

body, p, ol, ul, td {
  font-family: Calluna-Regular,Calluna-Bold,Calluna-It,serif;
}

h1, h2, h3 {
  font-family: Calluna-Bold,serif;
  font-weight: normal;
}

.sans {
  font-family: MuseoSans-300,sans-serif;
}

p.blogPostFooter {
  font-size: 75%;
  color: #666666;
  margin-bottom: 5em;
}

col#contactMethodCol {
	width: 30em;
	border: none;
}

h1 {
	color: #000066;
	font-size: 150%;
	border-bottom: 1px solid #99CC00;
}

h1.blog {
  margin-bottom: 0.2em;
}

h1.blog a {
  text-decoration: none;
}

h1.blog a:hover {
  color: #CC3300;
}

h2 {
	color: #000066;
	text-transform: uppercase;
	font-size: 100%;
	font-weight: bold;
	margin: 3em 0 0 0;
}

h3 {
	color: #000066;
	font-size: 90%;
	font-weight: bold;
	margin: 2.5em 0 0 0;
}

h6 {
  color: #6666FF;
  font-size: 90%;
  margin: 0;
}

a, a:visited { 
	color: #333366; 
}

a:hover { 
	color: #CC3300;
}

fieldset {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
	margin: 0;
	padding: 0;
	border-style: none;
}

legend {
  margin-left: 1em;
	color: #000000;
	font-weight: bold;
}

fieldset ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

fieldset ol li {
  padding-bottom: 1em;
  width: 100%;
}

fieldset ol li input, fieldset ol li textarea {
  width: 98%;
  border: 1px solid #CCCCCC;
  padding: 5px;
}

fieldset ol li textarea {
  height: 8em;
}

label {
  display: block;
	font-size: 90%;
}

fieldset ol li button {
  border: 0;
  cursor: pointer;
  font-weight: bold;
  padding: 0 20px 0 0;
  text-align: center;
}

fieldset ol li button span {
  position: relative;
  display: block;
  white-space: nowrap;
  padding: 0 0 0 20px;
}

fieldset ol li button.submitBtn {
  background: url(/images/button-right.gif) right no-repeat;
  font-size: 1.1em;
}
fieldset ol li button.submitBtn span {
  height: 50px;
  line-height: 50px;
  background: url(/images/button-left.gif) left no-repeat;
  color:#ffffff;
}

input:focus, textarea:focus {
	background: #E6E6FF;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #E6E6FF;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #CC3300;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

th {
  color: #000066;
  text-align: left;
}

td a {
	color: #333366;
}

pre {
  margin: 10px 10px;
  padding: 10px 10px;
  line-height: 15px;
  overflow: auto;
  font-family: "Monaco", "Courier New", courier;
  font-size: 12px;
}

#banner {
	height: 100px;
	background: url(/images/banner.gif) no-repeat left top;
	color: #fff;
}

#adminBanner {
	height: 100px;
	background: #333366;
	color: #fff;
}

#container {
	position: relative;
	min-height: 100%;
}

* html #container {
	height: 100%;
}

#content {
	width: 100%;
	padding-bottom: 4em;
	background-color: #fff;
	float: left;
}

#footer {
	width: 100%;
	clear: both;
	font-size: 70%;
	position: relative;
	margin-top: -3.8em;
	padding-bottom: 3em;
	color: #333;
}

#footer a {
	color: #333;
}

#footer a:hover {
	color: #CC3300;
}

#mainNav {
	width: 100%;
	float: left;
	color: #fff;
	background: #333366;
	border-top: 1px solid #
}

#home #mainNav .home a,
#services #mainNav .services a,
#about #mainNav .about a,
#blog #mainNav .blog a,
#contact #mainNav .contact a,
#admin_home #mainNav .admin_home a,
#admin_services #mainNav .admin_services a,
#admin_achievements #mainNav .admin_achievements a,
#admin_blog_posts #mainNav .admin_blog_posts a,
#admin_comments #mainNav .admin_comments a,
#admin_testimonials #mainNav .admin_testimonials a {
  color: #99CC00;
	background: #292966;
	text-decoration: underline;
}

#mainNav ul {
  float: left;
	margin: 0;
	list-style: none;
	padding: 0 0 0 0.7em;
}

#mainNav ul a:hover {
	color: #CC3300;
	background: #292966;
}

#mainNav li {
	float: left;
}

#mainNav li a {
	display: block;
	padding: 0 3em;
	line-height: 2.5em;
	color: #eee;
	background: #333366;
	text-decoration: none;
	font-family: helvetica, sans-serif;
	font-size: 80%;
	font-weight: bold;
	border-right: 1px solid #292966;
}

#mainContent {
	width: 47em;
	padding: 1em 1em 0 3em;
	display: inline;
	float: left;
}

#mainContent p a {
	color: #333366;
}

#mainContent p a:hover {
	color: #CC3300;
}

#mainContent ul {
	list-style-image: url(/images/bullet.gif);
}

#mainContent ul.archives {
  list-style: none;
	padding-left: 0;
}

#mainContent ul li a {
	color: #333366;
}

#mainContent ul li a:hover {
  color: #CC3300;
}

#comments h2 {
  border-bottom: 1px solid #99CC00;
}

#comments p {
  font-size: 85%;
}

.commentFooter {
  color: #666666;
  border-bottom: 1px solid #99CC00;
}

#secondaryContent {
	width: 18em;
	padding: 3em 1em 0 2em;
	display: inline;
	float: right;
}

#secondaryNav ul {
	padding-top: 2em;
	list-style-image: url(/images/bullet.gif);
  padding-top: 0;
  margin-top: 0;
}

#secondaryNav ul li a {
	text-decoration: none;
	line-height: 2em;
	font-size: 80%;
	font-weight: bold;
	color: #000066;
}

#secondaryNav ul li a:hover {
	color: #CC3300
}  

#secondaryNav .selected a {
  color: #99CC00;
  text-decoration: underline;
}

#secondaryText {
	padding-top: 0;
	margin-top: 0;
	font-size: 85%;
	color: #333333;
}

#secondaryText h2 {
	font-size: 100%;
}

#secondaryText h2.top {
  padding-top: 0;
  margin-top: 0;
}

#secondaryText h3 {
	font-size: 95%;
	margin: 2em 0 0 0;
}

#secondaryText p {
line-height: 1.5em;
}

#secondaryText a {
	color: #333366;
}

#secondaryText.blog a {
	color: #6666FF;
}

#secondaryText a:hover {
	color: #CC3300;
}

#secondaryText ul {
	list-style-image: url(/images/bullet.gif);
	padding-left: 1.5em;
}

#secondaryText ul li a {
	color: #333366;
}

#secondaryText ul li a:hover {
  color: #CC3300;
}

#secondaryText p.testimonialProvider {
  color: #000066;
  font-size: 90%;
  padding: 0 0 2.5em 2em;
}

#wrapper {
	width: 72em;
	margin: 0 auto;
}

.adminHeading {
  color: #ff9829;
  font-size: 250%;
  margin: 0 0 0 1em;
  padding: 1.5em 0 0 0;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.h2StyleRight {
	color: #000066;
	text-transform: uppercase;
	text-align: right;
	font-size: 90%;
	font-weight: bold;
	vertical-align: top;
}

.linkStyle a, a:visited {
	color: #333366;
}

.linkStyle a:hover {
	color: #CC3300;
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

div.success p {
  color: #99CC00;
  font-size: 85%;
  font-weight: bold;
}

div.error p {
  color: #CC3300;
  font-size: 85%;
  font-weight: bold;
}