<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == "notice" ? "success" : "error" %>">
    <button class="btn-close" onclick="closeAlert(event)"><span>x</span></button>
    <%= msg %>
  </div>
<% end %>
