<div id="secondaryText" class="blog">
  <h2 class="top">Navigation</h2>
  <ul>
    <li class="sans"><%= link_to "Blog home", "/blog" %></li>
    <li class="sans"><%= link_to "Archives", "/blog/archives" %></li>
  </ul>
  <h2>Latest Blog Posts</h2>
  <%= render "shared/latest_posts" %>
  <h2>Syndication</h2>
  <%= render "shared/syndication" %>
</div>
