<% cache :recent_posts do %>
  <ul>
    <% @latest_posts.each do |p| %>
      <li><%= "#{p.created_at.to_date.to_formatted_s(:rfc822)}: #{link_to p.title, blog_archive_path(p)}".html_safe %></li>
    <% end %>
  </ul>
<% end %>