<% content_for :secondary_content do %>
  <div id="secondaryText">
    <h2 class="top">Latest Blog Posts</h2>
    <%= render "shared/latest_posts" %>
    <%= render "shared/syndication" %>
  </div>
<% end %>
<h1>Home</h1>
<h2>Who am I?</h2>
<p>Glad you asked.</p>
<p>I am a software developer with more than 30 years of experience whose major focus these days is web applications and agile development in general.</p>
<p>To gain more of an insight into my skills and interests, read about my <a href="/about">professional background</a> and explore <a href="/blog">my blog</a>. Or you can see some of my code at <a href="https://github.com/keithpitty">GitHub</a>.</p>
<h2>What do I offer?</h2>
<p>Whilst I currently work four days a week for <a href="http://theconversation.com">The Conversation</a> as a member of their <a href="https://theconversation.com/au/team#technology">technology team</a>, in January I will be take up a new position as a Senior Software Developer with <a href="https://www.birdsnest.com.au/">Birdsnest</a>.</p>
<p>I'm a keen contributor to the Australian Ruby community so you may find an opportunity for me to help you at one of the <a href="https://www.meetup.com/Ruby-On-Rails-Oceania-Sydney/">Sydney meetups</a> or at a <a href="https://rails.camp/">Rails Camp</a>.</p>
