<h1>Home</h1>
<div class="flex items-center px-6 py-4">
  <%= image_tag("KeithDec2017.jpg", :alt => "photo", class: "block mx-auto sm:mx-0 sm:flex-shrink-0 h-auto sm:h-24 rounded-full") %>
</div>
<h2>Who am I?</h2>
<p>Glad you asked.</p>
<p>I am a software developer with more than 30 years of experience whose major focus these days is web applications and agile development in general.</p>
<p>To gain more of an insight into my skills and interests, read about my <a href="/about">professional background</a> and explore <a href="/blog">my blog</a>. Here are my most recent posts:</p>
<ul>
  <% @blog_posts.each do |p| %>
    <li><%= link_to p.title, blog_archive_path(p) %></li>
  <% end %>
</ul>
<p>Or you can see some of my code at <a href="https://github.com/keithpitty">GitHub</a>.</p>
<h2>What do I do?</h2>
<p>I currently work for <a href="https://www.clover.com.au/">Clover.com.au</a> as Head of Engineering.</p>
