<% content_for :secondary_content do %>
  <%= render "shared/blog_sidebar" %>
<% end %>
<h1>Archives</h1>
<ul>
  <% @blog_posts.each do |p| %>
    <li class="sans"><%= "#{link_to p.title, blog_archive_path(p)} (#{p.created_at.to_date.to_formatted_s(:rfc822)})".html_safe %></li>
  <% end %>
</ul>