<% content_for :secondary_content do %>
  <%= render :partial => "shared/blog_sidebar" %>
<% end %>
<h1>Archives</h1>
<ul class="archives">
  <% @blog_posts.each do |p| %>
    <li class="sans"><%= "#{p.created_at.to_date.to_formatted_s(:rfc822)}: #{link_to p.title, blog_archive_path(p)}".html_safe %></li>
  <% end %>
</ul>