<h1>About me</h1>
<div class="flex items-center px-6 py-4">
  <%= image_tag("KeithDec2017.jpg", :alt => "photo", class: "block mx-auto sm:mx-0 sm:flex-shrink-0 h-auto sm:h-24 rounded-full") %>
</div>
<p>Having commenced working in the industry in 1983, I have accumulated technical experience on a diverse range of platforms.</p>
<p>
My roles have covered the full life-cycle of software development. I have successfully led and contributed to teams that have delivered applications to corporate, small to medium business, NGOs and government organisations in Australia and the United Kingdom.
</p>
<p>Read on to learn more about my professional background and what others have had to say about my work.</p>
<div class="pull-left">
  <% cache "achievements", skip_digest: true do %>
    <% @achievements.each do |achievement| %>
      <h3><%= h achievement.heading %></h3>
      <%= textilize(achievement.description) %>
    <% end %>
  <% end %>
</div>
