<h1>Enter Credentials</h1>
<div id="success">
  <% if flash[:notice] %>
    <%= render :partial => 'shared/success', :locals => {:msg => flash[:notice]} %>
  <% end %>
</div>
<fieldset>
<% form_tag do -%>
  <ol>
    <li>
      <label for="login">Login:</label>
      <%= text_field_tag 'login' %>
    </li>
    <li>
      <label for="password">Password:</label>
      <%= password_field_tag 'password' %>
    </li>
    <!-- Uncomment this if you want this functionality
    <li>
      <label for="remember_me">Remember me:</label>
      <%= check_box_tag 'remember_me' %></p>
    </li>
    -->
    <li class="submitBtn">
      <button value="submit" class="submitBtn">
        <span>Log in</span>
      </button>
    </li>
  </ol>
<% end -%>
</fieldset>
