<h1>Enter Credentials</h1>

<fieldset>
  <%= simple_form_for @user_session, :as => :user_session, :url => user_session_path do |f| %>

    <%= f.input :login %>
    <%= f.input :password %>

    <button class="btn btn-blue btn-form">
      Log in
    </button>
    
  <% end %>
</fieldset>
